@font-face {
  font-family: 'Roboto';
  src: url(./Fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(./Fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url(./Fonts/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Fonts/Roboto-LightItalic.ttf);
  font-style: italic;
  font-weight: 300;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

header,main .mainTitle, main .callAction ,footer{
  padding:0 20%;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: white;
}

header .links{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  font-size: 18px;
}
header .links li a{
  color: #FFF;
  text-decoration: none;
}
/*------------------------------------------------------------------------- */
main{
  display: flex;
  flex-direction: column;
}
main .mainTitle{
  background-color: #1F2937;
  height: 50vh;
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}
main .mainTitle .text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
main .mainTitle .text h2{
  font-size: 48px;
  margin: 0;
  margin-right: 40%;
}
main .mainTitle .text p{
  margin: 0;
  margin-right: 10%;
}
main .mainTitle .text button{
  border: none;
  background-color: #3882F6;
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 10px;
  color: #FFF;
  font-weight: bold;
  margin-top: 15px;
}
main .mainTitle img{
  width: 500px;
}
/*-------------------------------------------------------------*/

main .widgets{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 25%;
  padding-bottom: 100px;
  text-align: center;
}
main .widgets h3{
  font-size: 38px;
}
main .widgets .cards{
  display: flex;
}
main .widgets .cards .card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .widgets .cards .card p{
  padding: 0 25px;
}

main .widgets .cards .card img{
  width: 80%;
  border: #3882F6 5px solid;
  border-radius: 20px;
}

/*----------------------------------------------------------------------------*/

main .quote{
  background-color: #E5E7EB;
  padding:100px 27%;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  display: flex;
  flex-direction: column;
}
main .quote .sentence{
  margin: 0;
}
main .quote .author{
  align-self: flex-end;
  font-size: 25px;
  font-weight: bold;
  font-style: normal;
  margin: 0;
}

/*--------------------------------------------------------------------------------*/

main .callAction{
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: stretch;
  align-items: center;
}
main .callAction .blueSection{
  flex: 1 1 auto;
  background-color: #3882F6;
  display: flex;
  justify-content: space-between;
  padding: 50px 10%;
  color: #FFF;
  border-radius: 20px;
}
main .callAction .blueSection .text h4,
main .callAction .blueSection .text p{
  margin: 0;
}

main .callAction .blueSection .text h4{
  font-size: 24px;
}
main .callAction .blueSection button{
  align-self: center;
  background-color: #3882F6;
  border: 3px solid #FFF;
  color: #FFF;
  font-weight: bold;
  font-size: 24px;
  padding: 10px 5%;
  border-radius: 10px;
}

/*---------------------------------------------------------------------------*/