@font-face {
  font-family: 'Roboto';
  src: url(./Fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url(./Fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto';
  src: url(./Fonts/Roboto-Thin.ttf);
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: 'Roboto';
  src: url(./Fonts/Roboto-ThinItalic.ttf);
  font-style: italic;
  font-weight: 100;
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

header,main .mainTitle,footer{
  padding:0 20%;
}


header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1F2937;
  color: white;
}

header .links{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  font-size: 18px;
}
header .links li a{
  color: #FFF;
  text-decoration: none;
}
/*------------------------------------------------------------------------- */
main{
  display: flex;
  flex-direction: column;
}
main .mainTitle{
  background-color: #1F2937;
  height: 50vh;
  color: #FFF;
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}
main .mainTitle .text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
main .mainTitle .text h2{
  font-size: 48px;
  margin: 0;
  margin-right: 40%;
}
main .mainTitle .text p{
  margin: 0;
  margin-right: 10%;
}
main .mainTitle .text button{
  border: none;
  background-color: #3882F6;
  font-size: 18px;
  padding: 8px 30px;
  border-radius: 10px;
  color: #FFF;
  font-weight: bold;
  margin-top: 15px;
}
main .mainTitle img{
  width: 500px;
}